@{
    ViewData["Title"] = "Login";
}


    <div class="text-center">
        <h1 class="display-4"> Login XD</h1>

        <form method="post">
            <label>Email</label>
            <input type="text" name="email"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <button>Login</button>      
        </form>
    </div>


<ul class="circles" style="pointer-events:none; ">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>








