@{
    ViewData["Title"] = "Profile";
}
@model AskMate.Models.UserModel


    <div class="text-center">
        <h1 class="display-4">Profile</h1>
        <h2>Email:</h2>
        <p>@Model.Email</p>
        <br />
        <h2>Password:</h2>
        <p>@Model.Password</p>
    </div>


<ul class="circles" style="pointer-events:none; ">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>








