/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "susy";
@import "breakpoint";
@import "color-schemer";
@import "bourbon@5.*";
@import "neat@2.*";
@import "modularscale@3.*";

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .10rem 1rem rgb(0, 0, 0);
  background-color:#d8ebfb !important;
  
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.like {
    background-image: url("../like.png");
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-size: 20px;
    width:2%;
    text-underline-position:alphabetic;
}
.dislike {
    background-image: url("../dislike.png");
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-size: 20px;
    width: 2%;
}

.form-dislike{
    
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

    .context h1 {
        text-align: center;
        color: #fff;
        font-size: 50px;
    }


.area {
    background: -webkit-linear-gradient(to left, #cfe2ff, #fff);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(96, 176, 244, 0.41);
        animation: animate 25s linear infinite;
        bottom: -150px;
    }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }
        .circles li:nth-child(11) {
            left: 80%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 23s;
        }
        .circles li:nth-child(18) {
            left: 30%;
            width: 40px;
            height: 40px;
            animation-delay:2s;
            animation-duration: 23s;
        }
        .circles li:nth-child(19) {
            left: 50%;
            width: 100px;
            height: 100px;
            animation-delay: 2s;
            animation-duration: 30s;
        }
        .circles li:nth-child(12) {
            left: 70%;
            width: 130px;
            height: 130px;
            animation-delay: 10s;
            animation-duration: 23s;
        }
        .circles li:nth-child(20) {
            left: 5%;
            width: 90px;
            height: 90px;
            animation-delay: 7s;
            animation-duration: 31s;
        }
        .circles li:nth-child(21) {
            left: 10%;
            width: 150px;
            height: 140px;
            animation-delay: 4s;
            animation-duration: 31s;
        }
        .circles li:nth-child(22) {
            left: 57%;
            width: 150px;
            height: 140px;
            animation-delay: 14s;
            animation-duration: 20s;
        }
        .circles li:nth-child(23) {
            right: 20%;
            width: 150px;
            height: 140px;
            animation-delay: 20s;
            animation-duration: 18s;
        }
@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

