@{
    ViewData["Title"] = "Home Page";
}

   
    <div class="text-center">
        <h1 class="display-4">Ask, mate!</h1>

        <p style="margin-left:160px; margin-right:160px">
            AskMate is an open community for anyone that codes. 
            We help you get answers to your toughest coding questions, 
            share knowledge with your coworkers in private, and find your next dream job.
        </p>

        <img src="~/pictures/questions.png" alt="Alternate Text" width="350" height="350"/>
        <img src="~/pictures/answer.png" alt="Alternate Text" width="370" height="370" style="margin-bottom:13px" />

    </div>
   


   
