@{
    ViewData["Title"] = "QuestionList";
}
@model List<AskMate.Domain.Question>


    <ul>
        @foreach (var q in Model)
        {
            <li>
                @q.ID   - @q.Title    - @q.Text
            </li>

         }

    </ul>

