@model AskMate.Domain.Question

@{
    ViewData["Title"] = "QuestionAsking";
}
<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Home/AskQuestion" method="post">    
            <div class="form-group">
                <label for="Title" class="control-label"></label>
                <input  name="Title" class="form-control" placeholder="Question title" required />
            </div>
            <div class="form-group">
                <label for="Text" class="control-label"></label>
                <input name="Text" class="form-control" placeholder="Question" required />
            </div>
           <div class="form-group">
                <label for="Image" class="control-label"></label>
                <input for="Image" type="text" name="Image" class="form-control" placeholder="Optional: Insert image url" />
                <span for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
    <br />
    <a asp-action="QuestionList">View already asked questions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
