@{
    ViewData["Title"] = "QuestionList";
}


@foreach (var question in questions)
{
    <h4>@question.Title</h4>
    <br />
    <p>@question.text</p>
    <br />

    @if (question.image != null)
    {
        <p>@question.image</p>
    }

    <p style="width:60%">-----</p>

}