@model AskMate.Models.QuestionModel

@{
    ViewData["Title"] = "QuestionAsking";
}
<h4>Your Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Home/AskQuestion" method="post">
            <div class="form-group">
                <label for="Title" class="control-label"></label>
                <input style="float:left" name="Title" class="form-control" placeholder="Question title" maxlength="30" required />
                <div class=" text-danger">   Maximum 30 character!</div>
            </div>
            <div class="form-group">
                <label for="Text" class="control-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Text" placeholder="Your question goes here.." style="width:165%; min-height:350px" maxlength="300" required></textarea>
                <div class=" text-danger">   Maximum 300 character!</div>
            </div>

            <div class="form-group">
                <label for="Image" class="control-label"></label>
                <input for="Image" type="text" name="Image" class="form-control" placeholder="Optional: Insert image url" />
                <span for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>







<div>
    <a asp-action="Index">Back to Home</a> |
    <a asp-action="QuestionList">View already asked questions</a>
</div>
<ul class="circles" style="pointer-events:none;  ">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    
   
}
